<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>DevOpsProj2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>WorkerManageServlet</servlet-name>
		<servlet-class>WorkerManageServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WorkerManageServlet</servlet-name>
		<url-pattern>/WorkerManageServlet/dashboard</url-pattern>
		<url-pattern>/WorkerManageServlet/edit</url-pattern>
		<url-pattern>/WorkerManageServlet/update</url-pattern>
		<url-pattern>/WorkerManageServlet/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminManageServlet</servlet-name>
		<servlet-class>AdminManageServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminManageServlet</servlet-name>
		<url-pattern>/AdminManageServlet/dashboard</url-pattern>
		<url-pattern>/AdminManageServlet/edit</url-pattern>
		<url-pattern>/AdminManageServlet/update</url-pattern>
		<url-pattern>/AdminManageServlet/delete</url-pattern>
	</servlet-mapping>
</web-app>